<ion-header>
  <ion-toolbar>
    <ion-title>Add post</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="tabs/tab-post" icon="close"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit(postForm)">
    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input formControlName="title" clearInput maxlength="16"></ion-input>
    </ion-item>
    <!-- Textarea in an item with a floating label -->
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea formControlName="content" rows="6" cols="20" placeholder="Enter any notes here..."></ion-textarea>
    </ion-item>
    <div>
      <div>
        <!-- <h3>Tags accepting only items from an autocomplete using a remote endpoint</h3> -->
        <tag-input class="ion-padding" theme='dark' formControlName="tags" [placeholder]="'Enter a new repo'" [onTextChangeDebounce]="50"
          [secondaryPlaceholder]="'Add Tags'" [onlyFromAutocomplete]="true">
          <tag-input-dropdown [autocompleteObservable]="requestAutocompleteItems">
            <ng-template let-item="item" let-index="index">
              {{ item.display }}
            </ng-template>
          </tag-input-dropdown>
        </tag-input>
      </div>
    </div>
    <ion-button [disabled]="!postForm.valid" size="default" expand="block" type="submit">POST</ion-button>
  </form>
</ion-content>