<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="person"></ion-icon>
      Profile
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/tabs/tab-profile/settings-modal']" routerDirection="forward">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-progress-bar *ngIf="!user || !posts" type="indeterminate"></ion-progress-bar>
  <div *ngIf="user;else not_found">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <h1>{{user.displayName}}</h1>
          <ion-label color="primary">{{user.uid}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row class="ion-text-center">
              <ion-col size="6">
                <ion-text>
                  Stories <ion-badge color="primary">12</ion-badge>
                </ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-text>
                  Questions <ion-badge color="primary">12</ion-badge>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-center">
              <ion-col>
                <ion-text>Reputation <ion-badge color="primary">11</ion-badge>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-grid>
    <div *ngIf="posts; else no_post_found">
      <div *ngFor="let post of posts">
        <ion-card>
          <ion-card-header>
            <ion-grid class="ion-no-padding">
              <ion-row class="ion-no-padding">
                <ion-col size="8" class="ion-no-padding">
                  <ion-card-title>{{post.title}}</ion-card-title>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-text color="medium">
              <span class="small">{{post.date.toDate() | timeAgo}}</span>
            </ion-text>
          </ion-card-header>
          <ion-card-content>
            {{post.content}}
          </ion-card-content>
          <ion-grid class="ion-no-padding ion-no-margin">
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col size="auto" class=" ion-no-margin">
                <ion-chip *ngFor="let tag of post.tags" color="tertiary">
                  <ion-text>
                    <span class="small">{{tag}}</span>
                  </ion-text>
                </ion-chip>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
    </div>
    <ng-template #no_post_found>
      no post found
    </ng-template>

  </div>
  <ng-template #not_found>
    User not found
  </ng-template>
</ion-content>