// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

/*
 * Dark Colors
 * -------------------------------------------
 */

 body.dark {
  --ion-color-primary: #D36135;
  --ion-color-primary-rgb: 211,97,53;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #ba552f;
  --ion-color-primary-tint: #d77149;

  --ion-color-secondary: #85CB33;
  --ion-color-secondary-rgb: 133,203,51;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #75b32d;
  --ion-color-secondary-tint: #91d047;

  --ion-color-tertiary: #A5CBC3;
  --ion-color-tertiary-rgb: 165,203,195;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #91b3ac;
  --ion-color-tertiary-tint: #aed0c9;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34,34,34;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255,255,255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;

  --ion-color-medium: #BCC99D;
  --ion-color-medium-rgb: 188,201,157;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #a5b18a;
  --ion-color-medium-tint: #c3cea7;

  --ion-color-dark: #EFFFC8;
  --ion-color-dark-rgb: 239,255,200;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0,0,0;
  --ion-color-dark-shade: #d2e0b0;
  --ion-color-dark-tint: #f1ffce;
}

/*
 * iOS Dark Theme
 * -------------------------------------------
 */

.ios body.dark {
    --ion-background-color: #20222f;
    --ion-background-color-rgb: 32,34,47;
  
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;
  
    --ion-color-step-50: #2b2d39;
    --ion-color-step-100: #363844;
    --ion-color-step-150: #41434e;
    --ion-color-step-200: #4d4e59;
    --ion-color-step-250: #585963;
    --ion-color-step-300: #63646d;
    --ion-color-step-350: #6e6f78;
    --ion-color-step-400: #797a82;
    --ion-color-step-450: #84858d;
    --ion-color-step-500: #909197;
    --ion-color-step-550: #9b9ca1;
    --ion-color-step-600: #a6a7ac;
    --ion-color-step-650: #b1b2b6;
    --ion-color-step-700: #bcbdc1;
    --ion-color-step-750: #c7c8cb;
    --ion-color-step-800: #d2d3d5;
    --ion-color-step-850: #dedee0;
    --ion-color-step-900: #e9e9ea;
    --ion-color-step-950: #f4f4f5;

  --ion-toolbar-background: #20222f;

  --ion-item-background: #262835;
  --ion-item-background-activated: #313131;
}


/*
 * Material Design Dark Theme
 * -------------------------------------------
 */

.md body.dark {
  
    --ion-background-color: #20222f;
    --ion-background-color-rgb: 32,34,47;
  
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;
  
    --ion-color-step-50: #2b2d39;
    --ion-color-step-100: #363844;
    --ion-color-step-150: #41434e;
    --ion-color-step-200: #4d4e59;
    --ion-color-step-250: #585963;
    --ion-color-step-300: #63646d;
    --ion-color-step-350: #6e6f78;
    --ion-color-step-400: #797a82;
    --ion-color-step-450: #84858d;
    --ion-color-step-500: #909197;
    --ion-color-step-550: #9b9ca1;
    --ion-color-step-600: #a6a7ac;
    --ion-color-step-650: #b1b2b6;
    --ion-color-step-700: #bcbdc1;
    --ion-color-step-750: #c7c8cb;
    --ion-color-step-800: #d2d3d5;
    --ion-color-step-850: #dedee0;
    --ion-color-step-900: #e9e9ea;
    --ion-color-step-950: #f4f4f5;
  
  --ion-item-background: #2A2C39;
}

.light-bg {
  background-color: #F4F5F8;
}

.dark-bg {
  background-color: #F4F5F8;
}

.primary-bg {
  background-color: #3880FF;
}

.secondary-bg {
  background-color: #0CD1E8;
}

.tertiary-bg {
  background-color: #7044FF;
}

.success-bg {
  background-color: #10DC60;
}

.danger-bg {
  background-color: #F04141;
}

.dark-bg {
  background-color: #222428;
}

.medium-bg {
  background-color: #989AA2;
}

.warning-bg {
  background-color: #FFCE00;
}